.site-title {
    font-size:3rem;
    display:block;
    width:100%;
    margin:4rem 0 0 0;
}
.site-subtitle {
    font-size:1rem;
    margin:0 0 4rem 0;
    color:#52aa58;
}

.site-header {
    box-shadow: 0 0 16px -5px #808080;
    border:none;
}

.page-content {
    // background-color:#e5e7e7;
}

.site-footer {
    background-color:#403e4c;
}

.site-footer  {
    color:#99859d;
}

ul.post-list div.left-content {
    float: left;
    width:100%;
    // margin-right:2%;
}
ul.post-list li div.right-content {
    float: left;
    width:100%;
}

ul.post-list h4 {
    color:#76486f;
    font-size:1.2rem;
}

ul.tech {
    list-style-type:none;
    margin-left:0px;

    li {
        display:inline;
        margin-right:1rem;
    }

    clear:both;
}

.pill {
    background-color: #e0e5ee;
    padding: 0.25rem 0.5rem;
    border-radius: 15rem;
    font-size: 0.625rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    color: #16325c;
    vertical-align: middle;
    white-space: nowrap;
}